@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahan dikit biar scrollbar code-nya cakep */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 10px;
}